# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/data
server

# local run / IDE clutter
logs/
.cursor/
port-26.1/%TEMP%/

# Files from Forge MDK
forge*changelog.txt

!src/generated/resources/data/*
